<!DOCTYPE html>
<html>
<head>
	<title>CNL 11 | HOME</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/libs/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="./home.css">-->
	<script>var App = angular.module('home', []);</script>
	<style>
		
	</style>
</head>
<body ng-app="home" ng-controller="homeCtrl" ng-init="initialize()">
	<div class="topnav">
		<a href="/home">Home</a>
		<!--><a href="/login">Login</a>-->
		<a href="/register">Register</a>
		<!--<a href="/chat">Chat</a>-->
	</div>
	<div class="container">
		<div id="userFormArea" class="row" ng-show="!logined">
			<div class="col-md-12">
			<form id="userForm">
				<div class="form-group">
					<img src="images/login.png">
					<div class="fillin">
						<input ng-model="username" type="text" id="username" placeholder="Enter Username:">
					</div>
					<div class="fillin">
						<input ng-model="password" type="password" id="password" placeholder="Enter Password:">
					</div>
					<button ng-click="login()" type="submit" class="btn btn-primary" value="Login"/>login</button><br><br>

					<a href="#">Forget password?</a><br><br>
					<a href="/register">Register</a>					
				</div>
			</form>
			</div>
		</div>

		<div id="messageArea" class="row" ng-show="logined">
			<div class="col-md-2">
				<div class="online-users">
					<p>Online Users</p>
					<ul class="list-group" id="users"></ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="online-users">
					<p>Chat Rooms</p>
					<ul class="list-group" id="chatrooms">
						<button class="btn btn-chatroom" ng-repeat="hobbit in hobbits track by $index" ng-bind="hobbit" ng-click="changeChatRoom(hobbit)"></button>
						
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="chat" id="chat"></div>

				<form id="messageForm">
					<div class="form-group">
						<textarea class="form-control" id="message" placeholder="Enter messages:"></textarea>
						<br/>
						<input type="submit" class="btn btn-primary" value="Send Message"/>
						
					</div>
				</form>
				<button ng-click="disconnect_socket()">disconnect</button>
			</div>
		</div>
	</div>

	<script>

	</script>
	<script type="text/javascript">
		App.controller('homeCtrl', function($scope,$http) {
			$(function() {
				// $scope.socket = io.connect($scope.url);
				// var $messageForm = $('#messageForm');
				// var $message = $('#message');
				// var $chat = $('#chat');
				// var $messageArea = $('#messageArea');
				// var $userFormArea = $('#userFormArea');
				// var $userForm = $('#userForm');
				// var $users = $('#users');
				// var $username = $('#username');
			
				// $messageForm.submit(function(e){
				// 	console.log('message submit')
				// 	e.preventDefault();
				// 	$scope.socket.emit('send message', $message.val());
				// 	$message.val('');
				// });

				// $scope.socket.on('new message', function(data){
				// 	console.log('new message')
				// 	$chat.append('<div class="well"><strong>'+data.user+'</strong>: '+data.msg+'</div>');
				// });

				// $userForm.submit(function(e){
				// 	console.log('user login')
				// 	e.preventDefault();

				// });


			});
			$scope.initialize = function(){
				console.log("33333")
				$scope.username = '';
				$scope.password = '';
				$scope.urlChoose = {"Basketball":"localhost:3000", "Baseball":"localhost:3001", "Swimming":"localhost:3002"}
				$scope.url = $scope.urlChoose[0]
				$scope.logined = false;
				$scope.firstConnection = true

			}
			$scope.disconnect_socket = function(){
				$scope.socket.emit('disconnecttt', $scope.username, function(data){
					console.log('disconnecttt : ' + data)
					if(data)
						console.log('disconnect: '+ data)
					else
						console.log('???')
				});
			}
			$scope.connect_socket = function(url){
				// $scope.socket.disconnect();
				if($scope.firstConnection == true){
					$scope.socket = io.connect(url,{'forceNew': true});
				}
				var $messageForm = $('#messageForm');
				var $message = $('#message');
				var $chat = $('#chat');
				var $messageArea = $('#messageArea');
				var $userFormArea = $('#userFormArea');
				var $userForm = $('#userForm');
				var $users = $('#users');
				var $username = $('#username');

				$users.html('');
				$chat.empty();

				if($scope.firstConnection == false){
					$scope.socket = io.connect(url,{'forceNew': true});
				}
				$scope.socket.emit('new user', $scope.username, function(data){
					$scope.firstConnection = false
					if (data){
						console.log(data)
					}
					else
						console.log('new ???')
				});
				// $scope.username = '';


				$scope.socket.on('new message', function(data){
					console.log('new message')
					$chat.append('<div class="well"><strong>'+data.user+'</strong>: '+data.msg+'</div>');
				});

				$messageForm.submit(function(e){
					console.log('message submit')
					e.preventDefault();
					$scope.socket.emit('send message', $message.val());
					$message.val('');
				});


				var $users = $('#users');
				$scope.socket.on('get users', function(data){
					console.log('get user')
					console.log(data)
					var html = '';
					for (i = 0; i < data.length; i++) {
						html += '<li class="list-group-item">'+data[i]+'</li>';
					}
				$users.html(html);
				});
			}
			$scope.changeChatRoom = function(hobbit){
				console.log(hobbit)
				$scope.url = $scope.urlChoose[hobbit]
				console.log($scope.url)
				$scope.disconnect_socket();
				$scope.connect_socket($scope.url);
			}
			$scope.login = function(){
				$http.post('/user/login',{
					username: $scope.username,
					password: $scope.password
				})
				.then(function(response){
					// console.log(response.data['result'])
					if(response.data['result'] == true){
						console.log('true user')
						$scope.logined = true
						$scope.hobbits = response.data['hobbits'];
						$scope.url = $scope.urlChoose[$scope.hobbits[0]]
						console.log($scope.url)
						$scope.connect_socket($scope.url);
						
					}
					else{
						console.log('fake user')
						alert('輸入的帳號密碼錯誤')
					}
				})
			}
		})
	</script>
</body>
</html>
