<!DOCTYPE html>
<html>
<head>
	<title>CNL 11 | LOGIN</title>
	<link rel="stylesheet" type="text/css" href="/style.css"></link>
	<script type="text/javascript" src="/libs/angular.min.js"></script>

	<script>var App = angular.module('app', []);</script>
</head>
<body ng-app="app">
	<div ng-controller="loginCtrl" ng-init="initialize()" class="topnav">
		<a href="/home">Home</a>
		<a class="active" href="/login">Login</a>
		<a href="/register">Register</a>
	</div>

	<div class="container">
		<img src="images/login.png">
		<form>
			<div class="fillin">
				<input type="text" id="username" placeholder="Enter Username:">
			</div>
			<div class="fillin">
				<input type="password" id="password" placeholder="Enter Password:">
			</div>
			<input type="submit" value="LOGIN" class="btn" onclick="login()"><br><br>
		</form>
		
		<a href="#">Forget password?</a><br><br>
		<a href="/register.html">Register</a>
	</div>

	<script>
		function login() {
			if (document.getElementById("username").value != "cnl11" ||
				document.getElementById("password").value != "cnl11") {
				alert("Wrong username or password!");
			} else {
				window.location.replace = "/home";
			}
		}
	</script>
	<script>
		App.controller('loginCtrl', function(
			$scope,
			$rootScope,
			$http
		) {
			$scope.initialize = function(){
				console.log("222")
			}
		})
	</script>
</body>
</html>