<!DOCTYPE html>
<html>
<head>
	<title>CNL 11 | REGISTER</title>
	<link rel="stylesheet" type="text/css" href="/style.css"></link>
	<script type="text/javascript" src="/libs/angular.min.js"></script>

	<script>var App = angular.module('app', []);</script>
</head>
<body ng-app="app" ng-controller="registerCtrl" ng-init="initialize()">
	<div class="topnav">
		<a href="/home">Home</a>
		<a class="active" href="/register">Register</a>
	</div>

<div class="container" id="register-container">
		<center>
			<h2 style="color:white">Create Account
			</h2>
		</center>

		<div class="fillin">
			<div class="left">Username</div>
			<div class="right">
				<input ng-model="newUsername" type="text" placeholder="Enter your username">
			</div>
		</div>
		<div class="fillin">
			<div class="left">Password</div>
			<div class="right">
				<input ng-model="newPassword" type="password" placeholder="Enter your password">
			</div>
		</div>
		<div class="fillin">
			<div class="left">Gender</div>
			<div class="right">
				<select name="gender" ng-model="newGender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
		</div>
		<div class="fillin">
			<div class="left">Age</div>
			<div class="right">
				<select name="age" ng-model="newAge">
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
				</select>
			</div>
		</div>	
		<div class="fillin">
			<div class="left">City</div>
			<div class="right">
				<select
					class="form-control"
					id="select"
					ng-model="newCity">
					<option
						ng-repeat="city in cities track by $index"
						ng-value="city"
						ng-bind="city"></option>
				</select>
			</div>
		</div>	
		<div class="fillin">
			<div class="left">E-mail</div>
			<div class="right">
				<input ng-model="newEmail" type="text" placeholder="Enter your e-mail">
			</div>
		</div>
		<!--
		<div class="fillin">
			<div class="left">Feature</div>
			<div class="right">
				<select name="feature">
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
			</div>
		</div>	
		-->
		<div class="fillin" id="hobbies">
			<div class="left">Hobbies</div>	
			<div class="right">
				<select name="hobbies" multiple ng-model="newHobbies">
					<option ng-repeat="hobby in hobbies track by $index" ng-value="hobby" ng-bind="hobby"></option>
				<!--
					<option value="basketball">Basketball</option>
					<option value="baseball">Baseball</option>
					<option value="swimming">Swimming</option>
					<option value="jogging">Jogging</option>
					<option value="piano">Piano</option>
					<option value="guitar">Guitar</option>
					<option value="violin">Violin</option>
					<option value="singing">Singing</option>
					-->
				</select>
			</div>
		</div>		
		<div class="fillin" id="career">
			<div class="left">Career</div>	
			<div class="right">
				<select name="career" ng-model="newCareer">
					<option value="student">Student</option>
					<option value="professor">Professor</option>
					<option value="engineer">Engineer</option>
				</select>
			</div>
		</div>	
<!-- 		<div class="fillin" id="info"> 
			<div class="left">About you</div>
			<div class="right">
				<textarea row="3" placeholder="Type your message"></textarea>
			</div>
		</div>	 -->
		<center>
			<button type="submit" value="REGISTER" class="btn" ng-click="register()">
				register
			</button>
		</center>
		<br>
	</div>



	<script>
		/*
		function register() {
			// If the "username" is not used
			// Then add an account to the database
			// Then go to the home page
			window.location.href = "file:///Users/Jay/Desktop/CNLab_FinalProject/interface/home.html";
		}
		*/
		App.controller('registerCtrl', function(
			$scope,
			$rootScope,
			$http,
			$window
		) {
			$scope.initialize = function(){
				console.log('111')
				$scope.cities = [
					"基隆市",
					"臺北市",
					"新北市",
					"桃園市",
					"新竹市",
					"新竹縣",
					"苗栗縣",
					"臺中市",
					"彰化縣",
					"南投縣",
					"雲林縣",
					"嘉義市",
					"嘉義縣",
					"臺南市",
					"高雄市",
					"屏東縣",
					"宜蘭縣",
					"花蓮縣",
					"臺東縣",
					"澎湖縣",
					"連江縣",
					"金門縣",
					"",
				]
				$scope.hobbies = [
					'Basketball',
					'Baseball',
					'Swimming',
					'Jogging',
					'Piano',
					'Guitar',
					'Violin',
					'Singing',
				];
			};
			$scope.register = function(){
				console.log($scope.newUsername);
				console.log($scope.newPassword);
				console.log($scope.newAge);
				console.log($scope.newCity);
				$http.post('/user/register', {
					email: $scope.newEmail,
               	 	password: $scope.newPassword,
                	username: $scope.newUsername,
               	 	gender: $scope.newGender,
                	hobbits: $scope.newHobbies,
                	age: $scope.newAge,
                	city: $scope.newCity,
					career: $scope.newCareer,
                	// self_introduction: $scope.,
				})
				.then(function(res){
					console.log('then')
					// console.log(res)
					$window.location.href = '/';
				})
				.catch(function(res){
					console.log('catch')
					// console.log(res)
				})
			};

		})
	</script>
</body>
</html>