/************/


/* ALL PART */


/************/

body {
    margin: 0 auto;
    background-image: url("images/bg.jpg");
    background-size: 100% 3000px;
    font-family: Microsoft JhengHei;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    font-size: 17px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/****************/


/* LOGIN & CHAT */


/****************/

.container {
    width: 80%;
    height: 640px;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.container img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-bottom: 30px;
}


/*********/


/* LOGIN */


/*********/

.fillin {
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}


/********/


/* CHAT */


/********/

.container .online-users {
    text-align: center;
    margin-top: 10px;
}

.container p {
    color: white;
}

.container .form-group {
    text-align: center;
    width: 100%;
}

.container .chat {
    margin-top: 10px;
}

.container textarea {
    resize: none;
}


/************/


/* REGISTER */


/************/

.fillin .left {
    width: 30%;
    font-size: 18px;
    padding-top: 2px;
    color: white;
    text-align: right;
}

.fillin .right {
    width: 65%;
}

.fillin input[type="text"],
[type="password"],
[type="info"] {
    width: 240px;
    height: 30px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 5px;
    background-color: white;
}

.fillin input[type="info"] {
    height: 90px;
    margin-bottom: 50px;
}

.fillin[id="hobbies"] {
    margin-bottom: 50px;
}

.fillin textarea {
    width: 240px;
    height: 100px;
    font-size: 18px;
    padding-left: 5px;
    resize: none;
}

.fillin[id="info"] {
    margin-bottom: 70px;
}

.container .btn {
    color: white;
    background-color: #2ecc71;
    padding: 15px 15px;
    border-radius: 4px;
    border-bottom: 4px solid #27ae60;
    margin-bottom: 2px;
    border: none;
}

.btn-chatroom {
    width: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*safari and chrome*/
    select {
        width: 240px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        background-color: #f4f4f4;
    }
    select[name="hobbies"] {
        height: 70px;
    }
}