* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box .header {
	width: 100%;
	height: 55px;
	background: #404040;
	color: white;
	font-size: 20px;
	text-align: center;
	margin-bottom: 1px;
}

.box .chat-container {
	width: 100%;
	height: 90%;
	background: rgba(255, 255, 230, 0.7);
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll; 
	margin-bottom: 1px;
}

.chat-container::-webkit-scrollbar {
	width: 5px;
}

.chat-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgb(0, 0, 0, 1);
}

.chat {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat .user-photo img {
	height: 100%;
}

.chat .chat-message {
	max-width: 280px;
	padding: 5px;
	margin: 5px 10px 0;
	border-radius: 10px;
	font-size: 15px;
	color: white;
}

.friend {
	display: flex;
	justify-content: flex-start;;
}

.self {
	display: flex;
	justify-content: flex-end;
}

.friend .chat-message {
	background: gray;
}

.self .chat-message {
	background: rgb(0, 102, 255);
	order: -1; 
}

.chat-form {
	height: 6%;
	display: flex;
}

.chat-form textarea {
	width: 87%;
	height: 100%;
	border: 0px solid white;
	margin-right: 1px;
	background: black;
	resize: none;
	padding: 3px;
	font-size: 18px;
	color: white;
}

.chat-form textarea:focus {
	background: white;
	color: black;
}

.chat-form button {
	width: 20%;
	background: black;
	padding: 0px;
	font-size: 18px;
	color: white;
	border: none;
	cursor: pointer;
	-webkit-transition background:  .2s ease;
	-moz-transition background:  .2s ease;
	-o-transition background:  .2s ease;
}

.chat-form button:hover {
	background: white;
	color: black;
}