.box .header {
	width: 100%;
	height: 30px;
	background: #404040;
	color: white;
	font-size: 20px;
	text-align: center;
}

.box .chat-container {
	width: 100%;
	height: 96%;
	overflow-x: hidden;
	overflow-y: scroll; 
}

.box .chat-container::-webkit-scrollbar {
	width: 10px;
}

.box .chat-container::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}

.box .chat {
	padding: 5px;
	width: 100%;
	height: 50px;
	background-color: rgba(179, 255, 255, 0.7);
	margin-bottom: 1px;
	display: flex;
}

.chat .user-photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.chat .user-photo img {
	height: 100%;
}

.chat .leftbox {
	margin-left: 10px; 
	width: 85%;
	max-width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat .leftbox .user-name {
	height: 35%;
	color: gray;
	font-size: 15px;
}

.chat .leftbox .messages {
	height: 60%;
	color: black;
	font-size: 12px;
}

.chat .rightbox {
	width: 18%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between; 
}

.chat .rightbox .time {
	width: 33px;
	color: gray;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-content: flex-start;
}

.chat .rightbox .no {
	background: rgb(26, 255, 26);
	border-radius: 45%;
	width: 20px;
	color: white;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-content: flex-end;
}